<div class="wrapper">
    <div class="main" id="home">
        <div class="row">
            <div class="col-md-3" id="propos">
                <h3 style="text-align: center;">A propos de nous</h3>
                <p><i class="fa fa-heart heart"></i>Équipe disponible pour la livraison à tout moment de vos petit creux.</p>
                <p><i class="fa fa-heart heart"></i>Passez vos commandes en visitant tous nos restaurants partenaires ... Il y en a pour tous les gouts.</p>
                <br><br>
                <small>Contactez-nous pour plus d'informations: </small><br>
                <small>+261 34 420 26</small><br>
                <small>ekaly@gmail.com</small>
            </div>
            <div class="col-md-9">
                <img src="./assets/img/propos.png">
            </div>
        </div>
    </div>
</div>