<div class="wrapper">
    <div class="main" id="home">
        <div class="row">
            <div class="col-md-12">
                <h4 class="mb-4" style="text-align: center;">Insertion d'un nouvel utilisateur</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <input class="form-control" placeholder="Email">
            </div>
            <div class="col-md-3">
                <input class="form-control" placeholder="Mot de passe">
            </div>
            <div class="col-md-3">
                <select class="form-control">
                    <option>Restaurant</option>
                    <option>Livreur</option>
                </select>
            </div>
            <div class="col-md-3">
                <button class="btn btn-danger">Enregistrer</button>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h4 class="mb-4" style="text-align: center;">Liste des utilisateurs</h4>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Email</th>
                            <th>Role</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>