#home {
    background-image: url(assets/img/client1.jpg);
    width: auto;
    margin-left: 10%;
    margin-right: 10%;
    height: 80vh;
    padding-top: 40vh;
    background-position: center top -150px;
    background-repeat: no-repeat;
    background-size: cover;
}

#inputSuccess1 {
    /* width: 100%; */
    height: 60px;
    border: 0px;
    font-size: 16px;
    padding: 0 15px 0 50px;
    background: #fff url(assets/img/icon.svg) no-repeat left 13px center / 28px auto;
}


#searchButton{
    height: 60px !important;
    margin-left: -32px;
    width: 100%;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    font-size: 18px;
    background-color: #e19797;
    border: 1px solid #e19797;
}

#list {
    background-color: white;
    margin: 2% 5%;
    border-radius: 5px;
}

.table td {
    border: none !important;
}

#body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 87vh;
    margin-top: 30vh;
    margin-bottom: 24vh;
  }
  
  .boxes {
    margin: auto;
    width: 250px;
    max-height: 250px !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .boxes .box {
    margin: 16.66667px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: linear-gradient(130deg, #FFC0A4 0%, #e19797 100%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    -webkit-animation: pulse 1s linear infinite alternate;
    animation: pulse 1s linear infinite alternate;
  }
  .boxes .box:nth-child(1) {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
  }
  .boxes .box:nth-child(2) {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
  }
  .boxes .box:nth-child(3) {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
  }
  .boxes .box:nth-child(4) {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
  }
  .boxes .box:nth-child(5) {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
  }
  .boxes .box:nth-child(6) {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
  }
  .boxes .box:nth-child(7) {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
  }
  .boxes .box:nth-child(8) {
    -webkit-animation-delay: 0.7s;
    animation-delay: 0.7s;
  }
  .boxes .box:nth-child(9) {
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
  }
  
  @-webkit-keyframes pulse {
    from,
    40% {
      opacity: 0;
    }
    50% {
      opacity: 0.5;
    }
    80%,
    to {
      opacity: 1;
    }
  }
  
  @keyframes pulse {
    from,
    40% {
      opacity: 0;
    }
    50% {
      opacity: 0.5;
    }
    80%,
    to {
      opacity: 1;
    }
  }
  @media screen and (max-width: 300px) {
    .box {
      width: 30px !important;
      height: 30px !important;
    }
  }