

<div class="wrapper">
    <div class="main" id="home">
        <div class="row">
            <h4>Liste des commandes en cours</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Restaurant</th>
                        <th>Total</th>
                        <th>Benefice</th>
                        <th>Etat</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>